.form-grupo {
    line-height: 17px;
    padding: 1px 10px 10px 10px;
    text-align: left;
}

.div {
    border: 5px solid;
    text-align: left;
}

fieldset {
    width: 46%;
    margin: 0px auto;
    background-color: #eaeaea;
}

.tform-grupo {
    text-align: left;
}

.titulo {
    text-align: center;
}

.formm {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(221, 230, 255);
    position: relative;
    top: 300px;
}

p {
    font-family: Arial;
}

body {
    background-color: white;
}

.botao {
    position: relative;
    padding: 12px;
}

.tbotao {
    position: relative;
    padding: 17px 10px 10px 1px;
}
/*
Colocado como exemplo
Coloquei o width em 60%, normalmente fica em 100% e moldamos o tamanho por elementos de fora
*/
.btn-form-control{
    display: block;
    width: 60%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


